body {
    font-family: 'Indie Flower', cursive;
}

/* #################### TITLE/FRONT PAGE SECTION ################### */

.masthead {
    height: 100vh;
    min-height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images.pexels.com/photos/374703/pexels-photo-374703.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) center/cover fixed no-repeat;
}
.masthead h1 {
    font-size: 3rem;
}
.masthead p {
    font-size: 2rem;
}

/* #################### NAVBAR SECTION ################### */

.logo {
    background-image: url(img/logo.png);
    width: 100px;
}
.navbar-toggler-icon {
    color: #118ab2;
    font-size: 25px;
}
nav .navbar-nav li a {
    color: #118ab2 !important;
    font-size: 1.2rem;
    font-weight: bold;
}
nav .navbar-nav li a:hover {
    color: #000 !important;
    transition: all 1s ease;
}
.navbar-collapse {
    text-align: center;
    /* Centered text/links */
}

/* #################### ABOUT SECTION ################### */

.main-title {
    font-size: 4rem;
    color: #118ab2;
    font-weight: bold;
}
.about-img {
    box-shadow: 5px 10px 8px #888888;
}
.about p {
    font-size: 1.1rem;
}
.title-about {
    font-size: 2rem;
    color: #118ab2;
    font-weight: bold;
}

/* #################### OUR PLAYLIST SECTION ################### */

.card {
    box-shadow: 10px 10px 8px 10px #888888;
    margin: 5%;
    transition: all 1s ease;
}
.card:hover {
    box-shadow: 10px 10px 8px 10px rgba(17, 138, 178, 0.5);
}
.btn-playlist {
    background-color: #118ab2;
    color: #fff;
    font-weight: bold;
}
.btn-playlist:hover {
    background-color: #fff;
    color: #118ab2;
    border: 0.1rem solid #118ab2;
    font-weight: bold;
    box-shadow: none;
}
.card-title {
    color: #118ab2;
    font-weight: bold;
}

/* #################### SUBSCRIBE SECTION ################### */

#subscribe {
    background-image: url(https://images.pexels.com/photos/1770/technology-music-sound-audio.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bg-blue {
    background: rgba(17, 138, 178, 0.5);
    clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
}
.input-group-text {
    color: #118ab2;
}
.btn-blue {
    background-color: rgba(17, 138, 178, 0.5);
    color: #fff;
    font-weight: bold;
}
.btn-blue:hover {
    background: #118ab2;
    color: #fff;
    font-weight: bold;
}

/* #################### CONTACT SECTION ################### */

.icons {
    font-size: 2rem;
    color: #118ab2;
}
.icons:hover {
    color: #2ec4b6;
    transition: all 1s ease-in-out;
    filter: blur(0.5px);
    animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #118ab2, 0 0 40px #118ab2, 0 0 50px #118ab2, 0 0 60px #118ab2, 0 0 70px #118ab2;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #2ec4b6, 0 0 40px #2ec4b6, 0 0 50px #2ec4b6, 0 0 60px #2ec4b6, 0 0 70px #2ec4b6, 0 0 80px #2ec4b6;
    }
}
